body, .navbar-inner a {
    font-family: "Arial Unicode MS", "Segoe UI", Frutiger, "Frutiger Linotype", Tahoma, "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: "Verdana", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

code, pre, .mono {
    font-family: "Segoe UI Mono",Consolas,Monaco,"Source Code Pro Semibold","Envy Code R",Menlo,"Courier New",monospace;
}
